/*#region grid*/
main{
    display: grid;
    grid-template-columns: 1fr;
    
}

.subGrid1{
    display: grid;
    grid-template-rows: 1fr;
}

.subGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subGrid3{
    display: grid;
    grid-template-columns: 1fr ;
}


/*#endregion grid*/

/*#region disclaimer*/

#disclaimer{
    display: none;
}

/*#endregion*/


/*#region overflow*/
.overflow{
    overflow-x: scroll;

}
/*endregion*/


/*#region text*/

.text1{
    font-size: 0.9em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text2{
    font-size: 0.6em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text3{
    font-size: 0.4em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*#endregion*/