@import "colors.css";
@import "font.css";

* {
    margin: 0;
    padding: 0;
}

.fas, .fab {
color: var(--color);

}

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundLight);
}

header {
    background: var(--background);
    height: 50px;

    position: fixed;
    width: 100%;

}

main{
    padding-top: 50px;
}

nav {
    width: 100%;
    margin: 0 auto;
    float: right;
}

.logo {
    float: left;
    padding: 0.7em 3.2em;
    height: 30px;
    
}

.title {
    float: left;
	margin-top: 10px;
    color: var(--colorWhite);

}

nav ul {
    list-style: none; /*no dots*/
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 15px 3em 15px 3em;
    color: var(--backgroundLight);
    text-transform: uppercase;
    font-size: 20px;
    transition: all ease-in-out 150ms;
    border-left: 2px solid var(--backgroundLight);
}

nav ul li a {
    text-decoration: none;
    color: var(--colorWhite);
}

a {
    font-size: inherit;
    text-decoration: none;
    color: var(--color);
}

a:hover{
    color: var(--background);
}

nav a:hover{
    color: var(--colorWhite);
}

nav ul li:hover {
    color: var(--background);
    background-color: var(--color);
}

abbr{
    text-decoration: underline;
}

/*footer*/

html,
body {
    height: 100%;
}

main {
    min-height: 100%;
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding-bottom: 40px; /*footer size*/
}

main img {
    width: 100%;
    height: 20em;
    padding: 0;
    margin-top: 0;
    
    object-fit: cover;
    max-height: 40%;
}

footer {

    border-top: 2px solid var(--backgroundWhite);

    background: var(--background);
    position: relative;
    height: 40px;
    margin-top: -40px;
    clear: both;
}

footer .textBox{
    background: var(--background);
}

#mainImage{
    background: var(--background);
}

#mainImage ul{
    list-style: none; /*no dots*/
    text-align: center;

    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

#mainImage ul li{
    display: inline-block;
    padding: 2em 4em 2em 3em;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: var(--colorWhite);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

ul{
    list-style: none; /*no dots*/
    font-size: 20px;

}

ul li{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: var(--colorWhite);

}

.textBox{
 
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    color: var(--colorWhite);
    text-align: center; 

    width: 100%;
}

.text1{
    font-size: 1em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text2{
    font-size: 0.7em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text3{
    font-size: 0.4em;
    color: var(--colorGray);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    height: 100%;
    width: 100%;
}

details, summary{
    list-style: none;
    list-style-type: none;
  }


/*
  grid
*/

main{
    display: grid;
    grid-template-columns: 1fr;
    
}

.subGrid1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.subGrid2{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.subGrid3{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

/*todo move to general stuff*/
hr{
    
    background-color: var(--backgroundLight);
    color: var(--backgroundLight);
    
    box-shadow: 0em 0em 0.6em 0.4em var(--background);
    background-image: radial-gradient(rgba(255,255,255,1), rgba(0,0,0,0));
    
    
    border: solid var(--backgroundLight);
    border-top:0.5em dashed var(--background);
    
}

hr::after{
  
    /*
    content: '';
    display: inline-block;
    position: relative;
    background:white url("../resources/icon.png") no-repeat;
    */

    content: "";
    width: 30px;
    height: 30px;
    background: url("../resources/icon.png") no-repeat 0px 0px fixed;
    top: 10px;
    right: 5px;
    display: inline-block;
}


#topButton{
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 2em;
    left: 2em;
    z-index: 99; /* Make sure it does not overlap */
    border: solid var(--color); /* Remove borders */
    outline: none; /* Remove outline */
    background-color: (0,0,0,0); /* Set a background color */
    color: var(--color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.02em 0.3em 0.1em; /* Some padding */
    box-shadow: 0em 0em 0.6em 0.4em var(--background);
    font-size: 2em; /* Increase font size */
    border-radius: 1em;
    text-align: center;
    opacity: 0.5;

    transition: ease-in-out 300ms;
}

#topButton a{
    color: var(--color);
}

#topButton:hover{
    background-color: var(--background);
    opacity: 1;
}
.tooltip .tooltiptext {
    transition: ease-in-out 500ms;
    visibility: hidden;
    width: 120px;
    background-color:var(--background);
    color: var(--colorWhite);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 1em;
    opacity: 0.5;
  }
  
  .tooltip .tooltiptext {
    top: -5px;
    left: 110%;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--background) transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

#disclaimer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 98;

    opacity: 0;

    background: var(--background);
    padding-top: 2em;
    padding-bottom: 2em;

    animation: disclaimerLoad 6000ms ease-in-out;
}

#animateText{
    animation: animateText 6000ms ease-in-out;

}

@keyframes animateText{

    0%{
        color: var(--colorWhite);

    }

    25%, 75%{
        color: var(--color);
    }
  
    100%{
        color: var(--colorWhite);
    } 
}


@keyframes disclaimerLoad{
    0%{
        opacity: 0;
        bottom: 0px;

    }

    25%, 75%{
        opacity: 1;
        bottom: 20px;
    }
  

    100%{
        display: none;
        opacity: 0;
        bottom: 0px;

    }

}
