@import "colors.css";
@import "font.css";
@import "various.css";

@import "small.css"  (max-width:550px);
@import "medium.css"  (max-width:950px) and (min-width:550px);
@import "big.css"  (min-width:950px);

 

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundLight);
}

header {
    background: var(--background);
    height: 50px;

    position: fixed;
    width: 100%;
    z-index: 99;
}

main{
    padding-top: 50px;
}

nav {
    width: 100%;
    margin: 0 auto;
    float: right;
}

.logo {
    float: left;
    padding: 0.7em 3.2em;
    height: 30px;
    
}

.title {
    float: left;
	margin-top: 10px;
    color: var(--colorWhite);

}

nav ul {
    list-style: none; /*no dots*/
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 15px 3em 15px 3em;
    color: var(--backgroundLight);
    text-transform: uppercase;
    font-size: 1em;
    transition: all ease-in-out 150ms;
    border-left: 2px solid var(--backgroundLight);
}

nav ul li a {
    text-decoration: none;
    color: var(--colorWhite);
}

a {
    font-size: inherit;
    text-decoration: none;
    color: var(--color);
}

a:hover{
    color: var(--background);
}

nav a:hover{
    color: var(--colorWhite);
}

nav ul li:hover {
    color: var(--background);
    background-color: var(--color);
}

abbr{
    text-decoration: underline;
}

/*footer*/

html,
body {
    height: 100%;
}

main {
    min-height: 100%;
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding-bottom: 40px; /*footer size*/
}

main img {
    width: 100%;
    height: 20em;
    padding: 0;
    margin-top: 0;
    
    object-fit: cover;
    max-height: 40%;
}

#mainImage{
    background: var(--background);
}

#mainImage ul{
    list-style: none; /*no dots*/
    text-align: center;

    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

#mainImage ul li{
    display: inline-block;
    padding: 2em 4em 2em 3em;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    color: var(--colorWhite);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

ul{
    list-style: none; /*no dots*/
    font-size: 1em;

}

ul li{
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    color: var(--colorWhite);

}

.textBox{
 
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    color: var(--colorWhite);
    text-align: center; 

    width: 100%;
}


.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    height: 100%;
    width: 100%;
}

details, summary{
    list-style: none;
    list-style-type: none;
  }

