<!DOCTYPE html>
<html lang="en">

    <%- include ("../fragmente/meta") -%>

    <body>
       
        <a name="top"></a>

        <%- include ("../fragmente/navbar") -%>

        <main>

            <h1>Galery</h1>
            <%- include ("../fragmente/galery") -%>           

        </main>


        <%- include ("../fragmente/footer") -%>

    </body>

</html>