<!DOCTYPE html>
<html lang="en">

    <%- include ("../fragmente/meta") -%>


    <!--5-->
    <body>
       
        <a name="top"></a>

        <%- include ("../fragmente/navbar") -%>

        <main class = "mainGrid">

            <section id="mainImage" class = "cell1">
                <img src=<%=liveGalery%> alt="demo image" />

                <ul>
                <!--12-->               
                    <li>Free <i class="fas fa-coins"></i><br><details><summary>textures are from free sources or created by me.</summary> </details></li>
                    <li><abbr title="phisically based rendering">PBR</abbr><br><details><summary>Using phisically based materials for modern rendering pipelines</summary> </details></li>
                    
                </ul>

            </section>
            
                
            <!--7-->
                    <!--section3-->
                    <div class = "cell3">
                        <section class="textBox">
                            <!--8-->
                            <h2>Events calendar</h2>
                            <br>

                            <div class ="text2">
                                <div class="month">
                                    <ul>
                                      <li class="prev">&#10094;</li>
                                      <li class="next">&#10095;</li>
                                      <li>August<br><span style="font-size:18px">2021</span></li>
                                    </ul>
                                  </div>

                                  <ul class="weekdays">
                                    <li>Mo</li>
                                    <li>Tu</li>
                                    <li>We</li>
                                    <li>Th</li>
                                    <li>Fr</li>
                                    <li>Sa</li>
                                    <li>Su</li>
                                  </ul>

                                  <ul class="days">
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li>6</li>
                                    <li>7</li>
                                    <li>8</li>
                                    <li>9</li>
                                    <li><span class="active">10</span></li>
                                    <li>11</li>
                                    <li>12</li>
                                    <li>13</li>
                                    <li>14</li>
                                    <li>15</li>
                                    <li>16</li>
                                    <li>17</li>
                                    <li>18</li>
                                    <li>19</li>
                                    <li>20</li>
                                    <li>21</li>
                                    <li>22</li>
                                    <li>23</li>
                                    <li>24</li>
                                    <li>25</li>
                                    <li>26</li>
                                    <li>27</li>
                                    <li>28</li>
                                    <li>29</li>
                                    <li>30</li>
                                    <li>31</li>
                                  </ul>
                            </div>

                        </section>
                    </div>

                    <div class = "cell5">
                        <section class="textBox">
                            <!--section 5-->
                            <h2>Online users</h2>
                            <br>

                            <div class ="text2">
                                <ul>
                                    <li>User 1</li><br>
                                    <li>User 2</li><br>
                                    <li>User 3</li><br>
                                    <li>User 4</li><br>
                                </ul>
                            </div>
                        </section>
                    </div>


                    <div class = "cell2">
                        <section class="textBox">
                            <!--8-->
                            <br>

                            <div class ="text2">
                                <div class = "overflow">
                                    <table>
                                      <thead>
                                        <th></th>
                                        <th>Phisically based rendering</th>
                                        <th>Toon shading</th>
                                        <th>Blinn–Phong rendering model</th>
                                        <th>Gouraud shading</th>
                                      </thead>
                                      <tbody>
                                            <tr>
                                                <td>No ugly artefacts</td>
                                                <td>&#10004;</td>      
                                                <td>&#10004;</td>      
                                                <td>&#10004;</td>      
                                                <td>X</td>      
                                            </tr>
                                          <tr>
                                              <td>Looks realistic</td>
                                                <td>&#10004;</td>      
                                                <td>X</td>      
                                                <td>X</td>      
                                                <td>X</td>  
                                          </tr>
                                            <tr>
                                              <td>Intuitive to use parameters</td>
                                              <td>&#10004;</td>      
                                              <td>X</td>      
                                              <td>X</td>      
                                              <td>X</td>      
                                            </tr>
                                          <tr>
                                              <td>Works in any lighting conditions</td>
                                              <td>&#10004;</td>      
                                              <td>&#10004;</td>      
                                              <td>X</td>      
                                              <td>X</td>      
                                            </tr>
                                      </tbody>
                                      <tfoot>
                                        <td colspan="5">Phisically based rendering is the better option</td>
                                      </tfoot>
                                    </table>
                                </div>
                            </div>
                        
                            <hr/>

                        </section>
                    </div>
                    
                    <div class = "cell6">
                        <section class="textBox">
                            <!--8-->
                            <h2>User </h2>
                            <br>

                            <div class ="text2">
                                Logged in.
                            </div>

                        </section>
                    </div>
                

                    <div class = "cell4">
                        <section class="textBox">
                            <!--Section4-->
                            <h2>News</h2>
                            <br>

                            <div class ="text3">
                                <ol class = "counter">
                                    <li>Finished 1st homework</li>
                                    <li>Finished 2nd homework</li>
                                    <li>Finished 3rd homework</li>
                                    <li>Working at 4th homework</li>
                                </ol>
                            </div>
                        </section>
                    </div>

                    <div class="cell7">
                        <section class="textBox">
                            <!--Section7-->
                            <h2>About the server</h2>
                            <br>

                            <div class ="text2">
                                The "server" is up and running.
                            </div>
                        </section>
                    </div>


            

            <section class="cell8">
                <section class="textBox">
                
                <h2>Don't know what <b>phisically based rendering</b> means?</h2>
                <br>

                
                <div class= "videowrapper">
                    <iframe name = "mainVideo" src="https://www.youtube.com/embed/jCFBlG-KUEs?autoplay=1&controls=0&showinfo=0&mute=1&loop=1&start=15&hd=1" frameborder="0" 
                    allow="encrypted-media; gyroscope; picture-in-picture" ></iframe>
                </div>
                <div class="tabsVideo">
                    <a href="https://www.youtube.com/embed/jCFBlG-KUEs?autoplay=1&controls=0&showinfo=0&mute=1&loop=1&start=15&hd=1" target="mainVideo">PBR demo</a>
                    <a href="https://www.youtube.com/embed/J9CExYF8yrU?autoplay=1&controls=0&showinfo=0&mute=1&loop=1&hd=1" target="mainVideo" >PBR demo 2</a>
                    <a href="https://www.youtube.com/embed/wGYc7P_6n1o?autoplay=1&controls=0&showinfo=0&mute=1&loop=1&start=15&hd=1" target="mainVideo" >PBR materials</a>
                </div>
                
                <br>
                <div class ="text2">
                    This site offers <b>high quality textures</b> created using Adobe Substance Alchemist.
                    They are all <b>free</b> for commercial and personal use.
                    <br>
                    <!--10-->
                    <q cite="https://learnopengl.com/PBR/Theory">
                    <b>PBR</b>, or more commonly known as physically based rendering, 
                    is a collection of render techniques that are more or less based 
                    on the same underlying theory that more closely matches that of the physical world.
                     As physically based rendering aims to mimic light in a physically plausible way,
                      it generally looks more realistic compared to our original lighting algorithms like Phong and Blinn-Phong.
                       Not only does it look better, as it closely approximates actual physics, we (and especially the artists)
                        can author surface materials based on physical parameters without having to resort to cheap hacks and tweaks to make the lighting 
                        look right. One of the bigger advantages of authoring materials based on physical parameters is that
                         these materials will look correct regardless of lighting conditions; something that is not true in non-PBR pipelines.
                        </q>
                    </div>
                <br>

                    <!--11-->
                    <div class ="text2">
                        More info can be found <a href="https://learnopengl.com/PBR/Theory" target="_blanc">here</a>.
                    </div>
                    <br>

                </section>
            </section>  

            <section id = "disclaimer">
                <div class = "text1" id = "animateText">
                    This is a schollar project.
                </div>
            </section>

        </main>

        
        <%- include ("../fragmente/footer") -%>
       

    </body>

    <script type="text/javascript" src="/scripts/top.js"></script>


</html>

<!--https://docs.google.com/spreadsheets/d/1Fbxtuvo7KN9sReTE4N87dhn3ChM91Lp4M_k_3cZqrIA/edit?usp=sharing--> 
