<!DOCTYPE html>
<html lang="en">

    <%- include ("../fragmente/meta") -%>

    <body>
       
        <a name="top"></a>

        <%- include ("../fragmente/navbar") -%>

        <main>

            <h1>This is a small test</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque veritatis dignissimos sapiente recusandae consequuntur ullam aliquam, vitae magnam ad veniam nam deserunt iste debitis nobis, doloremque dolore, provident quis!</h2>

        </main>


        <%- include ("../fragmente/footer") -%>

    </body>

</html>