 <footer>
            
    <div class="tooltip">
        <div id ="topButton">
            <span class="tooltiptext">top of page</span>
            <a zef="#top">&#5123;</a>
        </div>
    </div>

    <section class="textBox">
        <ul>
             

            <li>
                <div class ="text3">
                    Site source can be found <a href="https://github.com/meemknight/Texturelibrary">here</a>. 
                </div>
            </li>
            <li>
                <div class ="text3">
                <address>
                    Written by <a href="mailto:vladalex420@gmail.com">VladAlex</a>.<br>
                    
                    <a href="tel:07000000">Phone contact</a>
                </address>
            </div>
            </li>
        
            <li>
                <div class ="text3">
                    <small>&copy; Luta Vlad  <time datetime="2021">2021</time> </small>
                </div>
            </li>

        </ul>
       
    </section>
</footer>