<head>
    <!--1,2,3-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Textures, PBRTextures, Materials" />
    <meta name="author" content="Luta Vlad" />
    <meta
        name="description"
        content="Free Phisically based textures for everyone!"
    />
    <title>Texture library</title>

    <!--4-->
    <link rel="shortcut icon" type="image/gif" href="resources/icon.gif" />
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />

</head>
