<header>
    <!--6-->
    <nav>
        <img src="/resources/icon.png" alt="logo" class="logo" id="logoImage" />
        <h1 class="title"></h1>
        
        <ul class = "Navelements">
            <input type="checkbox" id="menuButton"/>
            <label for="menuButton" id="menuButtonLable"><i class="fas fa-bars"></i></label>
            
            <div class = "navCheckToShow">

                <li class><a href="#" id = "homeButton"><i class="fas fa-home"></i></a></li>
                <li class><a href="#">About</a></li>
                <li class>
                    <a href="#">Galery</a>
                    <ul>
                        <li>All</li>
                        <li>Wood</li>
                        <li>Metal</li>
                        <li>Stone</li>
                    </ul>
                </li>

            </div>

        </ul>
    </nav>
</header>

